<%= link_to 'Splayds List', action: 'index' %>

<table class="smart_table" cellspacing="0">
  <thead>
  <tr>
    <th class="nobg" style="width: 200px"><%= @splayd.name %></th>
    <th class="top">
      <%= @splayd.ip %>
      <%= if @splayd.hostname then "(#{@splayd.hostname})" end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Status</th>
    <td>
      <%= @splayd.status %>
    </td>
  </tr>
  <% if @splayd.city and @splayd.city != "" %>
    <tr>
      <th>Localization</th>
      <td><%= iso_to_utf8 @splayd.city %>, <%= @splayd.country %></td>
    </tr>
  <% end %>
  <tr>
    <th>Splayd version</th>
    <td><%= @splayd.version %></td>
  </tr>
  <tr>
    <th>Lua version</th>
    <td><%= @splayd.lua_version %></td>
  </tr>
  <tr>
    <th>Architecture</th>
    <td>
      <%= @splayd.os %>, <%= @splayd.bits %> bits, <%= @splayd.endianness %> endian
    </td>
  </tr>
  <tr>
    <th>uname -a</th>
    <td><%= @splayd.full_os %></td>
  </tr>
  <tr>
    <th>Load (1, 5, 15)</th>
    <td><%= @splayd.load_1 %> <%= @splayd.load_5 %> <%= @splayd.load_15 %></td>
  </tr>
  <tr>
    <th>Job limits (<%= @splayd.max_number %>)</th>
    <td>
      <table class="smart_table" cellspacing="0">
        <tr>
          <th style="width: 200px">Max mem</th>
          <td><%= @splayd.max_mem / 1024 / 1024 %> Mo</td>
        </tr>
        <tr>
          <th>Disk max size</th>
          <td><%= @splayd.disk_max_size / 1024 / 1024 %> Mo</td>
        </tr>
        <tr>
          <th>Disk max files</th>
          <td><%= @splayd.disk_max_files %></td>
        </tr>
        <tr>
          <th>Disk max file descriptors</th>
          <td><%= @splayd.disk_max_file_descriptors %></td>
        </tr>
        <tr>
          <th>Network max send</th>
          <td><%= @splayd.network_max_send / 1024 / 1024 %> Mo</td>
        </tr>
        <tr>
          <th>Network max receive</th>
          <td><%= @splayd.network_max_receive / 1024 / 1024 %> Mo</td>
        </tr>
        <tr>
          <th>Network max ports</th>
          <td><%= @splayd.network_max_ports %></td>
        </tr>
        <tr>
          <th>Network max sockets</th>
          <td><%= @splayd.network_max_sockets %></td>
        </tr>
        <tr>
          <th>Network send speed</th>
          <td>
            <%= @splayd.network_send_speed / @splayd.max_number / 1024 %> Ko/s
          </td>
        </tr>
        <tr>
          <th>Network receive speed</th>
          <td>
            <%= @splayd.network_receive_speed / @splayd.max_number / 1024 %> Ko/s
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>